p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.rmdcomment2 {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #de3535;
  position:relative;
}

.rmdcomment2:before {
    content: "\f075";
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:0px;
    font-size: 45px;
 }
 
 
 